.sns-platform-button {
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
.sns-platform-button span {
  z-index: 1;
}
.sns-platform-button::before {
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: rgb(234, 13, 201);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.sns-platform-button:hover {
  color: #ffffff;
}
.sns-platform-button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
